extends layout 

block content
  h1=title
  hr

  form(method="POST")
    div.form-elements
      label(for="name") Category Name: 
      input#name.form_control(type='text', placeholder='What is this category called?', name='name', required value=(undefined===category ? '' : category.name))
      label(for="description") Category Description: 
      input#description.form_control(type='text', placeholder='What kind of items are in this category?', name='description', required value=(undefined===category ? '' : category.description))

      button.btn.btn-primary(type='submit') Submit
      
  if errors
    ul
      for error in errors
        li!= error.msg