extends layout

block content
  h1= title
  p Welcome to #[em ZEN HARMONY], a project that uses express and mongoose to create an inventory for a fictional online store.
  p (This project has been reworked to use a PostgreSQL-based structure with the updates made to the Odin Project's Curriculum!)

  p The inventory contains the following statistics: 

  h2 Dynamic Content

  ul 
    li #[strong Cateogories:] !{category_count}
    li #[strong Items:] !{item_count}
