extends layout

block content
  h1= title
  p Welcome to #[em ZEN HARMONY], a project that used express and mongoose to create an inventory for a fictional online store.

  p The inventory contains the following statistics: 

  h2 Dynamic Content

  ul 
    li #[strong Cateogories:] !{category_count}
    li #[strong Items:] !{item_count}
