doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    div(class='layout-nav')
      block navbar 
      ul 
        li 
          a(href='/') Home 
        li 
          a(href='/inventory/category/') List all categories
        li 
          a(href='/inventory/category/create') Create new Category
        hr
        li 
          a(href='/inventory/item/create') Create new Item
  div(class='main-body')
    block content
