body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.form-elements {
  display: grid;
  grid-template-columns: 20vw 20vw;
  gap: 1em;
}

body {
  display: flex;
  margin: 0;
}

.layout-nav {
  margin-right: 3em;
}
